@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
}

/* CSS General */
body {
    font-family: "Roboto";
    margin: 0px;
}

h1, h2, h3 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

h2  { 
    font-size: 2rem;
}

h3 {
    margin: 25px;
}

p {
    text-align: left;
    margin: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.menu-top-item {
    color: black;
    padding-left: 5px;
    font-size: 1.5rem;
}

.menu-top-container > :not(:first-child)::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 17px;
    margin-right: 15px;
    background-color: black;
}

.menu-bot-container > :not(:first-child)::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 17px;
    margin-right: 15px;
    background-color: white;

}


.menu-item:hover {
    color: rgba(0, 0, 0, 0.676);
}

/* Header  */
header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

/* section banner  */
#banner {
    background-image: url(../img/banner.jpg);
    color: white;
    padding: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 50%;
}

/* section presentation  */
#presentations {
    text-align: center;
}

.presentation {
    margin: 0px auto;
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}

.cta--secondary {
    background-color: rgb(201, 2, 2);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

.cta--secondary:hover {
    background-color: rgb(176, 0, 0);
}

/* section news  */
#news {
    margin: 75px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 20%;
    background-color: rgb(62, 60, 60);
    color: white;
    margin-bottom: 40px;
}

.card:hover {
    box-shadow: 1px 2px 7px 6px rgba(0, 0, 0, 0.43);
}

.img-container {
    max-width: 100%;
    height: 50%;
}

.img-card {
    max-height: 100%;
    width: 100%;
}

/* section formulaire  */
#form {
    background-color: rgb(62, 60, 60);
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    border: none;
}

.cta--form {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.cta--form:hover {
    background-color: rgba(255, 0, 0, 0.92);
}

/* footer  */
footer {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.menu-bot-item {
    padding: 5px;
}

.menu-bot-item:hover {
    color: rgba(255, 255, 255, 0.847);
}

.logo-footer  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 100px;
}